<!DOCTYPE html>
<html> 
   <head> 
      <title>Graph Maker</title> 
      <link type="text/css" rel="stylesheet" href="/static/statmeal.css" >
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head> 
   <body>
      <article>
         <p>File uploaded successfully</p> 
         <p>File Name: {{name}}</p>
         <p>Column Names:</p>
            {% for data_head in column %}
               <button class="sm_name_button">{{ data_head }}</button>
            {% endfor %}
         <br><br>
         <button>Make Graph</button>
      </article>
      <footer>
         <p>*Update*</p>
     </footer>
   </body>
</html>
