<!DOCTYPE html>
<html> 
   <head> 
      <title>Graph Maker</title> 
      <link type="text/css" rel="stylesheet" href="/static/statmeal.css" >
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head> 
   <body>
      <h1>
         StatMeal
      </h1>
      <p class="page_type">Graph Maker</p>
      <section>
            <nav>
               <ul>
                  <h3>
                        Navigation
                  </h3>
                  <button class="sm_nav_button">
                        Home
                  </button><br>
                  <button class="sm_nav_button">
                        Profile
                  </button><br>
                  <button class="sm_nav_button">
                        Graph Maker
                  </button><br>
                  <button class="sm_nav_button">
                        Predictive Model Maker
                  </button>
               </ul>
            </nav>
            <article>
               <p>File uploaded successfully</p> 
               <p>File Name: {{name}}</p>
               <h2>Column Names:</h2>
                  <p>Select the columns you want to use in your graph</p>
                  {% for data_head in column %}
                     <button class="sm_name_button">{{ data_head }}</button>
                  {% endfor %}
               <br><h2>Graph Types:</h2>
               <p>Select the graph type you want to use</p>
                  <button class="sm_name_button">Bar Graph</button>
                  <button class="sm_name_button">Box Plot</button>
                  <button class="sm_name_button">Histogram</button>
                  <button class="sm_name_button">Line Graph</button>
                  <button class="sm_name_button">Pie Chart</button>
               <br><br><button class="sm_nav_button"
                              type="button" onclick="show()" id="btnID">Make Graph</button><br>
                  <img class="graph_image" id="test_graph" src="hist.png" alt="Histogram" />
            </article>
      </section>
      <section>
         <footer>
            <p>*Update*</p>
         </footer>
      </section>
     <script>
         function show() {
            document.getElementById('test_graph') 
               .style.cssText = "display: inline-block; align-items: center; margin: 10px";
         }
     </script>
   </body>
</html>
