<!DOCTYPE html>
<html> 
   <head> 
      <title>Graph Maker</title> 
      <link type="text/css" rel="stylesheet" href="/static/statmeal.css" >
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head> 
   <body>
      <div class="topnav" id="myTopnav">
         <a href="home">Home</a>
         <a href="profile">Profile</a>
         <a href="graph-maker" class="active">Graph Maker</a>
         <a href="predictive-model-maker">Predictive Model Maker</a>
         <a href="javascript:void(0);" class="icon" onclick="openNav()">
             <i class="fa fa-bars"></i>
         </a>
     </div>
      <h1>
         StatMeal
      </h1>
      <p class="page_type">Graph Maker</p>
      <section>
            <article>
               <p>File uploaded successfully</p> 
               <p>File Name: {{name}}</p>
               <br><h2>Graph Types:</h2>
               <p>Select the graph type you want to use</p>
                  <button class="sm_name_button" value="Distribution Plot" onclick="selectGraph(this.value)">Distribution Plot</button>
                  <button class="sm_name_button" value="Bar Graph" onclick="selectGraph(this.value)">Bar Graph</button>
                  <button class="sm_name_button" value="Box Plot" onclick="selectGraph(this.value)">Box Plot</button>
                  <button class="sm_name_button" value="Histogram" onclick="selectGraph(this.value)">Histogram</button>
                  <button class="sm_name_button" value="Line Graph" onclick="selectGraph(this.value)">Line Graph</button>
                  <button class="sm_name_button" value="Pie Chart" onclick="selectGraph(this.value)">Pie Chart</button>
               <h2>Column Names:</h2>
                  <p>Select the columns you want to use in your graph</p>
                  {% for data_head in column %}
                     <button class="sm_name_button" id="column" value="{{ data_head }}" onclick="selectColumnName(this.value)">{{ data_head }}</button>
                  {% endfor %}
               <br><br><form action = "/graph-output" method = "post" enctype="multipart/form-data">   
                     <input class="sm_nav_button" type="submit" value="Make Graph"><br>
                     <textarea id="selected_graph" name="graph"></textarea><br>
                     <textarea id="selected_name" name='columns'></textarea><br>
                     <textarea id="selected_file" name='file'>{{name}}</textarea><br>
                  </form>
            </article>
      </section>
      <section>
         <footer>
            <p>*Update*</p>
         </footer>
      </section>
     <script>
         function openNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
            x.className += " responsive";
            } else {
            x.className = "topnav";
            }
         }
         function show() {
            document.getElementById('test_graph') 
               .style.cssText = "display: inline-block; align-items: center; margin: 10px";
            document.getElementById('download_graph') 
               .style.cssText = "display: inline-block; align-items: center; margin: 10px";
         }
         function selectColumnName(name) {
            document.getElementById("selected_name").textContent += name + ", ";
         }
         function selectGraph(graph) {
            document.getElementById("selected_graph").textContent = graph;
         }
     </script>
   </body>
</html>
