<!DOCTYPE html>
<html> 
   <head> 
      <title>Predictive Model Maker</title> 
      <link type="text/css" rel="stylesheet" href="/static/statmeal.css" >
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head> 
   <body>
      <div class="topnav" id="myTopnav">
         <a href="home">Home</a>
         <a href="profile">Profile</a>
         <a href="graph-maker">Graph Maker</a>
         <a href="predictive-model-maker" class="active">Predictive Model Maker</a>
         <a href="javascript:void(0);" class="icon" onclick="openNav()">
             <i class="fa fa-bars"></i>
         </a>
     </div>
      <h1>
         StatMeal
      </h1>
      <p class="page_type">Predictive Model Maker</p>
      <section>
            <article>
                <h2>Generate your own predictive model</h2>
                <p>Select the columns you want to use in your predictive model</p>
                {% for data_head in column %}
                   <button class="sm_name_button" id="column" value="{{ data_head }}" onclick="selectColumnName(this.value)">{{ data_head }}</button>
                {% endfor %}
                <br><br><form action = "/graph-output" method = "post" enctype="multipart/form-data">   
                  <input class="sm_nav_button" type="submit" value="Make Predictive Model"><br>
                  <p>Column Names</p><br>
                  <textarea id="selected_name" name='columns'></textarea><br>
                  <p>File Name</p>
                  <textarea id="selected_file" name='file'>{{name}}</textarea><br>
               </form>
            </article>
      </section>
      <section>
         <footer>
            <p>*Update*</p>
         </footer>
      </section>
   </body>
   <script>
      function openNav() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      function selectColumnName(name) {
         document.getElementById("selected_name").textContent += name + ", ";
      }
  </script>
</html>