<!DOCTYPE html>
<html> 
   <head> 
      <title>Predictive Model Maker</title> 
      <link type="text/css" rel="stylesheet" href="/static/statmeal.css" >
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head> 
   <body>
      <h1>
         StatMeal
      </h1>
      <p class="page_type">Predictive Model Maker</p>
      <section>
            <nav>
               <ul>
                  <h3>
                        Navigation
                  </h3>
                  <button class="sm_nav_button">
                        Home
                  </button><br>
                  <button class="sm_nav_button">
                        Profile
                  </button><br>
                  <button class="sm_nav_button">
                        Graph Maker
                  </button><br>
                  <button class="sm_nav_button">
                        Predictive Model Maker
                  </button>
               </ul>
            </nav>
            <article>
                <h2>Generate your own predictive model</h2>
            </article>
      </section>
      <section>
         <footer>
            <p>*Update*</p>
         </footer>
      </section>
   </body>
</html>