<!DOCTYPE html>
<html>   
    <head>   
        <title>Upload .csv file</title>
        <link rel="stylesheet" href="output.css">
    </head>   
    <body>
        <h1 style="background-color:mediumseagreen; font-family:'Helvetica'; font-size:50px; padding: 30px;
        text-align: center;" >
            StatMeal
        </h1>
        <form style="background-color:gray; padding: 10px; color:white"
            action = "/success" method = "post" enctype="multipart/form-data">   
            <input style="background-color: gray; border: none; color: white;
            padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block;
            font-size: 16px;"
                type="file" name="file" />   
            <input type = "submit" value="Upload">   
        </form>   
    </body>   
</html>