<!DOCTYPE html>
<html>   
    <head>   
        <title>Home</title>
        <link type="text/css" rel="stylesheet" href="/static/statmeal.css" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>   
    <body>
        <h1>
            StatMeal
        </h1>
        <p class="page_type">Home</p>
        <section>
            <nav>
                <ul>
                    <h3>
                        Navigation
                    </h3>
                    <button class="sm_nav_button">
                        Home
                    </button><br>
                    <button class="sm_nav_button">
                        Profile
                    </button><br>
                    <button class="sm_nav_button">
                        Graph Maker
                    </button><br>
                    <button class="sm_nav_button">
                        Predictive Model Maker
                    </button>
                </ul>
            </nav>
            <article>
                <h2>Welcome to StatMeal!</h2>
                <p style="margin-left: 60px; margin-right: 30px;">StatMeal is a custom graph and predictive model maker.<br>StatMeal was originally used for sorting customer receipt data from restaurants, but this program can be used to sort multiple kinds of data.</p>
                <h2>Getting Started</h2>
                <p style="margin-left: 60px; margin-right: 30px;">Select a spreadsheet file to use for the graph maker.<br>The file must be in a .csv format.<br>Make sure it the file is organized in columns with the data type listed at the head of the column.</p>
                <form action = "/success" method = "post" enctype="multipart/form-data">   
                    <input type="file" name="file" />   
                    <input type = "submit" value="Upload">   
                </form>
            </article>
        </section>
        <section>
            <footer>
                <p>*Update*</p>
            </footer>
        </section>
    </body>   
</html>