.App {
  background-color: #282c34;
  text-align: center;
}

.App-header {
  background: rgb(40,44,52);
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(107, 221, 255) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.App-basic {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: rgb(107, 221, 255);
}

.App-file {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.chooseFileButton {
  background-color: black;
  color: white;
  font-family: "Lucida Console";
  border: 2px solid rgb(107, 221, 255);
  border-radius: 8px;
}
